
/* GENERAL */
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 40px 20px;
    margin: 20px 35px;
}
/* FUENTES */
.subtitles {
    font-family: 'Open Sans';
}
h1 {
    font-family: 'Open Sans';
}
p {
    font-family: 'Poppins';
}
h2 {
    font-family: 'Open Sans';
}
#section1 h1 {
    font-size: 40px;
}
#section2 h2 {
    font-size: 80px;
}
#section3 h3{
    font-size: 30px;
}
#section3 p {
    font-size: small;
}
#section4 h3 {
    font-size: 30px;
}
#section4 p {
    font-size: small;
}
#section5 h3 {
    font-size: 30px;
}
#section5 p {
    font-size: small;
}
.footer h3 {
    font-family: 'Open Sans';
}
#div5 p {
    font-size: small;
}
#div8 p {
    font-size: small;
}
#enviar {
    font-family: 'Open Sans';
}
/* DISEÑO BOTONES */
.button {
    border-radius: 30px;
}
#pink-1 {
    background-color: #f158ba;
    color: #fcfafb;
    border:#f158ba;
    padding: 20px 75px;
    margin-top: 25px;
    margin-bottom: 80px;
}
#pink-2 {
    background-color: #f158ba;
    color: #fcfafb;
    border: #f158ba;
    padding: 15px 60px;
    margin: 30px 0px;
}
#pink-1:active {
    background-color: #f19ccb;
}
#pink-2:active {
    background-color: #f19ccb;
}
#white {
    background-color: #fcfafb;
    border-color: #f158ba;
    color: #f158ba;
    margin-left: 650px;
    border-color: #f158ba;
    padding: 1px 27px;
    border-style: solid;
}
#white:active {
    color: #f19ccb;
    border-color: #f19ccb;
}
.social {
    background-color: #08262f;
    border-color: #08262f;
    border-style: solid;
}
/* INPUTS */
#correo {
    border-radius: 5px;
    border-style: solid;
    border-color: #fcfafb;
    width: 230px;
    height: 30px;
}
#enviar {
    border-radius: 5px;
    background-color: #f158ba;
    color: #fcfafb;
    border-style: solid;
    border-color: #f158ba;
    padding: 5px 20px;
    margin-left: 25px;
}
#enviar:active {
    background-color: #f19ccb;
    border-color: #f19ccb;
}
/*FOOTER */
.footer {
    background-color: #00252e;
    display: flex;
}
.footer h3 {
    color:#fcfafb;
}
.footer p {
    color: #fcfafb;
}
#logo_footer {
    padding-bottom: 20px;
}
/* SECCION 1*/
#section1 {
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}
#section1 p {
    padding: 10px 350px;
}
#section1 img {
    margin-right: 45px;
}
/* SECCION 2 */
#section2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
    margin-top: 120px;
}
#section2 p {
    text-align: center;
}
/* SECCION 3 */
#section3 {
    margin: 0px;
    display: flex;
    background-color:  #f4fcfc;
    padding-left: 70px;
    padding-right: 100px;
}
#section3 h3 {
    margin-bottom: 20px;
    margin-top: 1px;
    padding-top: 100px;
    padding-left: 50px;
}
#section3 img {
    margin-right: 30px;
}
#section3 p {
    padding-right: 165px;
    text-align: justify;
    padding-left: 50px;
}
 /* SECCION 4 */
#section4 {
    margin: 0px;
    display: flex;
    padding-left: 70px;
    margin-top: 150px;
    margin-bottom: 120px;
}
#section4 h3 {
    margin-bottom: 20px;
    margin-top: 1px;
    padding-top: 100px;
    padding-left: 200px;
}
#section4 img {
    margin-left: 30px;
}
#section4 p {
    padding-left: 200px;
    padding-right: 100px;
    text-align: justify;
}
/* SECCION 5 */
#section5 {
    display: flex;
    margin: 0px;
    background-color:  #f4fcfc;
    padding-left: 70px;
    padding-right: 100px;
}
#section5 h3 {
    margin-bottom: 20px;
    margin-top: 1px;
    padding-top: 100px;
    padding-left: 50px;
}
#section5 img {
    margin-right: 30px;
}
#section5 p {
    padding-right: 165px;
    text-align: justify;
    padding-left: 50px;
}

/* DIVS */
#div1 p {
    color: #99abb8;
}
#div2 p {
    text-align: center;
}
#div2 p {
    color: #99abb8 ;
}
#div3 {
    flex-wrap: wrap;
}
#div4 {
    justify-content: center;
    text-align: center;
    margin: 75px 0px;
}
#div5 {
    padding-top: 65px;
    padding-left: 90px;
    padding-right: 250px;
}
#div6 {
    display: flex;
    padding-top: 20px;
}
#div6 p {
    padding-left: 20px;
}
#div7 {
    display: flex;
    padding-top: 20px;
}
#div7 p {
    padding-left: 20px;
}
#div8 {
    padding-top: 65px;
    padding-right: 220px;
}
#div8 h3 {
    padding-bottom: 20px;
}
#div8 p {
    padding-bottom: 30px;
}
#div9 {
    display: flex;
    padding-top: 65px;
    padding-bottom: 80px;
}
#div9 img {
    padding-right: 15px;
}
#div10 {
    display: flex;
}
/* SUBTITULOS */
/* FONDOS */
#top1 {
    display: block;
}
#top2 {
    display: block;
}
#top3 {
    display: block;
}
.footer-top {
    width: 100%;
}