
html {
    height: 100%;
}
* {margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    min-height: 100%;
}
/* HEADER */
header {
    background-image: url(images/bg-hero-desktop.svg);

}
header {
    margin: 30px;
}
/* FUENTES */
.subtitles {
    font-family: 'Open Sans';
}
header h1 {
    font-family: 'Open Sans';
}
p {
    font-family: 'Poppins';
}
/* DISEÑO BOTONES */
.button {
    border-radius: 15px;
    box-shadow: 0 0 0.5px rgb(0, 0, 0,0.8);
}
#pink-1 {
    background-color: #f158ba;
    color: #fcfafb;
    border:#f158ba;
    
}
#pink-2 {
    background-color: #f158ba;
    color: #fcfafb;
    border: #f158ba;
}
#pink-2:active {
    background-color: #f19ccb;
}
#pink-2:active {
    background-color: #f19ccb;
}
#white {
    background-color: #fcfafb;
    border: #fcfafb;
}
#white:active {
    color: #909ea6;
}
/* DISEÑO FOOTER */
footer {
    display:flex
}
.footer {
    background-color: #08262f;
}
footer p {
    color: #fcfafb;
}
.social {
    background-color: #08262f;
    border-radius: 50%;
    border-color: #fcfafb;
}
.info {
    background-color: #08262f;
    color: #fcfafb;
    border-color: transparent;
}
.info:hover {
    border-bottom-color: #fcfafb;
}
/* SECCIONES */
div {
    box-shadow:  0 0 0.5px rgb(0, 0, 0,0.8);
};
}
